<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <style>
        body{
            padding: 0 1.5rem;
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: bisque;
        }
    </style>
</head>
<body >
    <main action="/">
        <h1>Form Submitted Successfully</h1>
    </main>
    
</body>
</html>